services:
  app:
    build: .
    ports:
      - "8080:80"
    environment:
      - DB_HOST=db
      - DB_NAME=enrichment_db
      - DB_USER=user
      - DB_PASS=userpassword
    depends_on:
      - db
    volumes:
      - .:/var/www/html

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=enrichment_db
      - MYSQL_USER=user
      - MYSQL_PASSWORD=userpassword
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
